$yellow: #e5b13a;
$primary-yellow: #CDB465;
$peach: #EBA071;
$darkest-green: #195423;
$darker-green: #3E9D33;
$light-green: #66AA63;
$lightest-green: #D0F8AB;
$cyth-red: #A5111A;
$teal: #148084;
$ocean-blue: #016280;
$brown: #4B2B00;