$yellow: #e5b13a;
$primary-yellow: #CDB465;
$peach: #EBA071;
$darkest-green: #8be66e;
$darker-green: #3E9D33;
$light-green: #66AA63;
$lightest-green: #D0F8AB;
$cyth-red: rgba(165, 17, 26, 0.82);
$teal: rgba(62, 166, 255, 0.69);
$ocean-blue: #016280;
$brown: #4B2B00;