@import '../assets/scss/_mixins';


h1 {
  @include title-font();
}

p {
  @include title-body();
  font-weight: 400;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 20px auto;
  display: block;
}