@import '../../assets/scss/_colors';


.menu-item {
  color: #999;
  text-align: left;
  transition: all 100ms ease-in;
}

.menu-item:hover {
  color: rgba(238, 238, 238, 0.64);
  cursor: pointer;
  //border-bottom: 2px solid rgba(238, 238, 238, 0.64);
}

.selected {
  color: #eee !important;
  font-weight: bold;
  //border-bottom: 2px solid #EEE;
}

.selected:hover {
  color: #eee !important;
  font-weight: bold;
  //border-bottom: 2px solid #EEE;
  cursor: default;
}

