<h2>{{selectedChar.name}}</h2>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h4>Character Stats</h4>
        <label class="checkbox-inline">
            <input type="checkbox" checked data-toggle="toggle"> First
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" data-toggle="toggle"> Second
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" data-toggle="toggle"> Third
        </label>
        <dl class="dl-horizontal">
            <dt>Height:</dt>
            <dd>{{selectedChar.height | height}}</dd>
            <dt>Weight:</dt>
            <dd>{{selectedChar.mass}}</dd>
            <dt>Hair Color:</dt>
            <dd>{{selectedChar.hair_color}}</dd>
            <dt>Skin Color:</dt>
            <dd>{{selectedChar.skin_color}}</dd>
            <dt>Eye Color:</dt>
            <dd>{{selectedChar.eye_color}}</dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-8">
        <h4>Films</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Ep.</th>
                    <th>Title</th>
                    <th>Release Date</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let film of selectedChar.films | getFilm | async">
                    <tr>
                        <td>{{film.episode_id}}</td>
                        <td>{{film.title}}</td>
                        <td>{{film.release_date | date:'fullDate'}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</div>