@import '../../assets/scss/_colors.scss';

h2 {
  color: $teal;
}

h4 {
  color: #DDD;
  border-bottom: 1px solid #ddd;
}

dl {
  color: #eee;
  text-align: left;
}

dt {
  color: #555;
}

.traits-table {
  width: 100%;
  color: white;
  th {
    text-align: right;
    width: 40%;
    margin-right: .2em;
    color: #999;
  }
  td {
    text-align: center;
  }
}

table.films-table {
  background-color: #eee;
  color: #000;
}

dd {
  padding-left: 0;
}



.char-traits {
  list-style: none;
  color: #DDD;
}