@import '../../assets/scss/_colors.scss';

h2 {
  color: $teal;
}

h4 {
  color: #DDD;
  border-bottom: 1px solid #ddd;
}

dl {
  color: #eee;
  text-align: left;
}

dt {
  color: #555;
}

table {
  background-color: #eee;
  color: #000;
}



.char-traits {
  list-style: none;
  color: #DDD;
}