<h2>{{selectedChar.name}}</h2>
<div class="row">
    <div class="col-xs-12 col-sm-5">
        <h4>Character Stats</h4>
        <table class="traits-table">
            <tr>
                <th>Height:</th>
                <td>{{selectedChar.height | height}}</td>
            </tr>
            <tr>
                <th>Weight:</th>
                <!-- TODO: Implement Weight Pipe -->
                <td>{{selectedChar.mass}} kg</td>
            </tr>
            <tr>
                <th>Hair Color:</th>
                <td>{{selectedChar.hair_color | titlecase}}</td>
            </tr>
            <tr>
                <th>Skin Color:</th>
                <td>{{selectedChar.skin_color | titlecase}}</td>
            </tr>
            <tr>
                <th>Eye Color:</th>
                <td>{{selectedChar.eye_color | titlecase}}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-12 col-sm-7">
        <h4>Films</h4>
        <div class="table-responsive">
            <table class="table table-bordered films-table">
                <thead>
                <tr>
                    <th>Ep.</th>
                    <th>Title</th>
                    <th>Release Date</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let film of selectedChar.films | getFilm | async">
                    <tr>
                        <td>{{film.episode_id}}</td>
                        <td>{{film.title}}</td>
                        <td>{{film.release_date | date:'fullDate'}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>